<h1>Add a Lair</h1>

<form action="/spaces" method="post">
  <input type="text" name="name" placeholder="Enter lair">
  <input type="date" name="startdate" value="01/01/80">
  <input type="date" name="enddate" value="01/01/80">
  <button type="submit" name="submit">submit</button>
</form>
