<h1>Add a Lair</h1>

<form action="/spaces" method="post">
  <input type="text" name="name" placeholder="Lair name"><br>
  <input type="text" name="description" placeholder="Description"><br>
  <input type="text" name="price" placeholder="Price"><br>
  <button type="submit" name="submit">submit</button>
</form>
