<!DOCTYPE html>
<html>

<nav class = "nav">
  <ul>
    <li><a href="/spaces">LairBnB</a></li>
    <li style="float:right">Sign Out</li>
    <li style="float:right"><a href="/spaces/requests">Requests</a></li>
    <li style="float:right"><a href="/spaces/new">List a Space</a></li>
  </ul>
</nav>

<head>
  <link rel="stylesheet" href="/css/spaces_requests.css">
</head>
<!-- <h1>Requests</h1>
<div class="requests">
  <div class="made_requests">
    <h2>Requests I've made      </h2>
    <div class="made_requests_details">
      Lair name<br>
      Date requested<br>
      Confirmation status
    </div>
  </div>

  <div class="received_requests">
    <h2>Requests I've received</h2>
    <div class="received_requests_details">
      Lair name<br>
      Date requested<br>
      Confirmation status
    </div>
  </div>
</div> -->



<h1>Requests</h1>
<<<<<<< HEAD
<div class="grid-container">
  <div class="made">Requests I've made</div>
  <div class="received">Requests I've received</div>
  <div>
    Lair name<br>
    Date requested<br>
    Confirmation status
  </div>
  <div>
    Lair name<br>
    Date requested<br>
    Confirmation status
  </div>
</div>
=======

<h2>My requests</h2>
  <h3><%= @lair.name %></h3>
    Description: <%= @lair.description %></h2><br>
    Requested for: <%= @request_date %><br>
    By: <br>
>>>>>>> 7fa7d0169221c0115fcc70a7d5915283701965f8
