<form action='/login' method='post'>
    <input type="text" name="email" required="required" placeholder="email address"/>
    <input type="password" name="password" required="required" placeholder="password"/>
    <input type="submit" value="Login"/>
</form>
