
<div class="signup_bg">
<head><link rel="stylesheet" href="/css/users/signup.css"></head>

  <form class="scary">
    <h1>
      <br>
      <span> Dare to Enter the Lair </span>
      <br>
      <br> Sign up
    </h1>
  </form>

  <form action="/user" method="post" form class ="signup">
      <ul>
        <li>
          <label for = "name"> Email </label>
          <input type="text" name="email" required="required"><br>
          <span> Enter your Email Address Here </span>
        </li>
        <li>
          <label for = "name"> Password </label>
          <input type="password" name="password" required="required" />
          <span> Enter your Password Here </span>
        </li>
        <li>
          <label for = "name"> Confirm Password</label>
          <input type="password" name="password_confirmation" required="required" >
          <span> Please Confirm Your Password </span>
        </li>
        <input type="submit" value="Sign up"/>
      </ul>
  </form>


   <form action="/login" form class ="go_login">
     <input type="submit" value="Login Here"/>
   </form>



  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
</div>
